<div class="example-container mat-elevation-z8" >
  


  <md-table #table [dataSource]="dataSource" >

    <!-- Generic column definition -->
    <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef" >
      <md-header-cell *cdkHeaderCellDef>{{ column.header }}</md-header-cell>
      <md-cell *cdkCellDef="let row">{{ column.cell(row) }}</md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"  (click)="handleRowClick(row)"></md-row>
  </md-table>
</div>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->