.activePromotionsTitle{

    font-weight:bold;
    color:black;
    font-size:20px; 
    
}

.activePromotionsCardContent{
    margin-left: 2%
}

.dataTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
}

th{  
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:#f6f6f6;
}

tr:nth-child(odd) {
     background-color:#f6f6f6;
}

.OrdersContainer
{
   margin-right:4%;
    margin-left:4%;
    margin-top:2%;
  margin-bottom: 2%;
}

md-sidenav-layout {
  background: rgba(0, 0, 0, 0.03);
}

.secondary {
  color: rgba(0, 0, 0, 0.54);
  font-size: xx-small;
}

.sidenav-md-icon {
  color: #007ab4;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar{
  background-color: #007ab4;
 
 

}

.title{
  content:url(../assets/images/jda_logo.png);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   white;
}

.bannerToolbar
{

  font-weight: bold;
  font-size:25px;
  padding-left:2%
  
  
}

.button-row
{
  

  font-weight: bold;
  padding-left: 4%;
}
.upcomingPromotionsSummaryButtons{
    margin-left:2%;
}
.searchIcon{
  color:white;
}

.icon{
  color:white;
}

thead, tbody { display: block; }
tbody {
    height: 300px;    
     /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
table {
    width: 100%; /* Optional */
}

tbody td, thead th {
    width: 20%;  /* Optional */
}

.chartCard{
  height: 90%!important;
}

.successColor{
  background: #00AB6B;
  color: white;
}

.orderActions{
  margin-left: 1px;
}