<div class="homePage">
  <md-toolbar fullscreen class="toolbar">
    <!--
    <button md-icon-button (click)="sidenav.open()">
      <md-icon class="icon">menu</md-icon>
    </button>-->
    <span class="title"></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span style="color: white" *ngIf='isLoggedin'>Welcome {{userName}}</span>
    <button md-button (click)='LogOut()' *ngIf='isLoggedin==TRUE'>Logout</button>
    <button md-button (click)='LogOut()' *ngIf='isLoggedin==false'>Login</button>
    <!-- <button md-button (click)='LogOut()' *ngIf='isLoggedin==true'>Logout</button>-->
  </md-toolbar>
  <ng2-slim-loading-bar></ng2-slim-loading-bar>

  <md-card>
    <md-card-title class="upcomingPromotionTitle">Orders Details</md-card-title>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
      <div fxFlex="10%">
        <span style="margin:5px"><label>  Company:</label></span>
        <span style="margin:5px"><label>{{dueOrderDetailsData.RCOMP}}</label></span>
        <span style="margin:5px"><label>  Warehouse:</label></span>
        <span style="margin:5px"><label>{{dueOrderDetailsData.RWHSE}}</label></span>

        <span style="margin:5px"><label>  Warehouse:</label></span>
        <span style="margin:5px"><label>{{dueOrderDetailsData.RWHSE}}</label></span>
        <span *ngIf="isOrderDatesLoaded" style="margin-left: 5px;margin-top: 15px"><label>  Order Date:</label>
        <input type="date" [ngModel]="recieptDatesData.ODORDJ| date:'yyyy-MM-dd'" />
        <span style="margin:15px"><label>  Expected Delivery Date:</label></span>
        <span style="margin:5px"><input type="date" [ngModel]="recieptDatesData.ODDUEJ| date:'yyyy-MM-dd'" /></span>
        </span>
      </div>

      <div fxFlex="80%">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="0">
          <div fxFlex="50%">
            <order-totals-table></order-totals-table>
          </div>

          <div fxFlex="50%">
            <md-card class="chartCard">
              <div id="chartContainer" (click)="onChartClick($event)"></div>
              <chart [options]="options1" (click)="onChartClick($event)" (load)="saveInstance($event.context)" style="width:50%; height: 100%"></chart>
            </md-card>
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-card-actions class="orderActions">
        <button md-raised-button color="primary" (click)="onClickCreateImmediate(); $event.stopPropagation()">CREATE IMMEDIATE</button>
        <button md-raised-button class="successColor" button>ACCEPT</button>
        <button md-raised-button color="warn">UNACCEPT</button>
      </md-card-actions>
    </div>
  </md-card>