.activePromotionsTitle{

    font-weight:bold;
    color:black;
    font-size:20px; 
    
}

.activePromotionsCardContent{
    margin-left: 2%
}

.dataTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
}

th{  
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:#f6f6f6;
}

tr:nth-child(odd) {
     background-color:#f6f6f6;
}
thead, tbody { display: block }
tbody {
    height: 300px;    
     /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
table {
    width: 100%; /* Optional */
}

tbody td, thead th {
    width: 20%;  /* Optional */
}

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
}

ordertable {
    display: none!important;
}

[hidden] { display: none !important;}
