<p>Orders Dashboard</p>
<div class="containerX">
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div fxFlex>
            <div fxLayout="row">
                <div fxFlex="50%">
                    <md-card>
                        <md-card-content>
                             <div  id="chartContainer" (click)="onChartClick($event)"  ></div>
                             <chart [options]="options1"  (load)="saveInstanceOrders($event.context)" style="width:50% " ></chart>
              
                        </md-card-content>
                    </md-card>
                </div>
                <div fxFlex="50%">
                    <md-card>
                        <md-card-content>
                            <div  id="chartContainer2"></div>
                            <chart [options]="options2" (click)="onChartClickExpedite($event)" (load)="saveInstanceExpedite($event.context)" style="width:50% "></chart>
                         </md-card-content>
                    </md-card>

                </div>
            </div>
        </div>
        <div fxFlex  >
            <div *ngIf="isOrderChartClicked" class="ordertable">
                    <due-order-table (tableIntialized)="childTriggeredEvent($event)" ></due-order-table>
            </div>
        </div>
    </div>
</div>