<div class="homePage">
     <md-toolbar fullscreen class="toolbar">
    <!--
    <button md-icon-button (click)="sidenav.open()">
      <md-icon class="icon">menu</md-icon>
    </button>-->
    <span class="title"></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span style="color: white" *ngIf='isLoggedin'>Welcome {{userName}}</span>
     <button md-button (click)='LogOut()' *ngIf='isLoggedin==TRUE'>Logout</button>
    <button md-button (click)='LogOut()' *ngIf='isLoggedin==false'>Login</button>
   <!-- <button md-button (click)='LogOut()' *ngIf='isLoggedin==true'>Logout</button>-->
     </md-toolbar>
     <ng2-slim-loading-bar ></ng2-slim-loading-bar>
<div class="OrdersContainer"> <OrdersTable></OrdersTable></div>