

<form class="form-horizontal"
              novalidate
              (ngSubmit)="login()"
              [formGroup]="loginForm" >
        <div class="container" >
         
            <fieldset>
                <div class="form-group" >
                    <div class="panel-body">
                        <div class="row">
                            <div class="input-field col s12">
                                <input  id="userNameId" 
                                    type="text" formControlName="userName">
                                    <span class="highlight"></span><span class="bar"></span>
                                <label for="email">userName</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s12">
                                <input  id="passWordId" 
                                    type="text" formControlName="passWord">
                                <label for="password">Password</label>
                            </div>
                        </div>
        
                        <span>{{errorMsg}}</span>   
                        <button (click)="login()" 
                            class="btn waves-effect waves-light" 
                            type="submit" name="action">Login</button>
            
           
                    </div>
                 </div>
             </fieldset>
        </div>
        </form>