<!--The whole content below can be removed with the new code.-->
<div fullscreen>
 <div >
    
    
    <!--
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon class="icon" >more_vert</md-icon>
    </button>-->
    <!--
    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item> Refresh </button>
      <button md-menu-item> Help </button>
     
     <button md-menu-item (click)="signOut()" > Sign Out </button>
    </md-menu>-->
     
 
        <!--
        <nav class='navbar navbar-default'>
            <div class='container-fluid'>
                <a class='navbar-brand'>{{pageTitle}}</a>
                <ul class='nav navbar-nav'>
                    <li><a [routerLink]="['/welcome']">Home</a></li>
                    <li><a [routerLink]="['/products']">Product List</a></li>
                </ul>
            </div>
        </nav>-->
        
            <router-outlet></router-outlet>
        
     </div>
     </div >