@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* You can add global styles to this file, and also import other style files */
input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}

body{
	background: #fafafa;
}

md-card{
	background: white;
}